
header{
  background-color: #7e1bda; /* the purple from your screenshot */
  display: flex;
  justify-content: center;  /* centers nav links horizontally */
  align-items: center;
  width: 100%;
  padding: 16px 0;
}

/* #7B2FBE this is a nice shade of purple */

.header-name {
  font-family: 'Georgia', serif;
  font-size: 18px;
  font-weight: 400;
  color: #111111;
}

nav a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff; 
  text-decoration: none;
  margin-left: 24px;
  text-align: center;
  font-size: 35px;
}

.navbar ul{ 
    list-style-type: none;
    padding: 0px;
    margin: 0px; 
    display: flex;         
    justify-content: center;
    align-items: center; 
}

nav a:hover {
  text-decoration: underline;
}

h2 {
    font-size: 50px;
    color:#7e1bda;
}

p {
    font-size: 30px;
}

#first-project-example{
    width: 700px;
    height: auto;
}

#second-project-example{
    width: 700px;
    height: auto;
}

#me {
  height: 400px;
  width: 300px;
}

#grp {
  width: 700px;
}

#grp2 {
  height: 400px;
  width: 1000px;
}

#me2 {
  width: 400px;
}

#me3 {
  height: 550px;
  width: 400px;
}